<footer class="footer mt-auto py-3 border border-light bg-gray-700">
    <div class="container">
        <div class="row item-center">
            <div style="width: 200px;"></div>
            <div class="col"><small><a class="text-white" style="text-decoration: none;" href="http://127.0.0.1:8000">이용약관</a></small></div>
            <div class="col"><small><a class="text-white" style="text-decoration: none;" href="http://127.0.0.1:8000">개인정보취급방침</a></small></div>
            <div class="col">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    주요사이트
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><small><a class="dropdown-item" href="https://postechian.org">포항공대총동창회</a></small></li>
                    <li><small><a class="dropdown-item" href="http://postech.ac.kr/">포항공과대학교</a></small></li>
                    <li><small><a class="dropdown-item" href="http://www.gbe.kr">경상북도교육청</a></small></li>
                    <li><small><a class="dropdown-item" href="https://www.acrc.go.kr">국민권익위원회</a></small></li>
                    <li><small><a class="dropdown-item" href="https://hometax.go.kr/">국세청</a></small></li>
                </ul>
            </div>
            <div style="width: 150px;"></div>
        </div>
        <div class="row">
            <div style="width: 200px;"></div>
            <div class="col"><small><a class="text-gray-400" style="text-decoration: none;">&copy; 2021. 포스텍동문재단 All rights reserved.</a></small></div>                   
            <div class="col"><small><a class="text-gray-400" style="text-decoration: none;">경상북도 포항시 남구 지곡로 80, 601호 (지곡동)</a></small></div>
            <div class="col"><small><a class="text-gray-400" style="text-decoration: none;">전화: 054-279-8495</a></small></div>      
            <div style="width: 150px;"></div>     
        </div>        
    </div>
</footer>
