{% extends "base.html" %}

{% block page_name %}
    정관
{% endblock page_name %}

{% block content %}

<br><br>
<p class="text-center text-2xl">재단법인 포스텍동문재단 정관</p>
<br><br>
<br>
<p class="text-xl">제1장  총    칙</p>
<br>
<p class="text-lg">
제1조(목적) 이 법인은 사회일반의 이익에 이바지하기 위하여 공익법인의 설립․운영에 관한 법률의 규정에 따라 포항공과대학교 재학생(대학원생 포함)과 교원에게 장학금 및 학술연구비를 지급함으로써 국가사회에 봉사할 수 있는 지도적 인재를 양성하고 교육문화 발전에 기여함을 목적으로 한다. <br>
제2조(명칭) 이 법인은 재단법인 포스텍동문재단(이하 “법인”이라 한다)이라 한다.<br>
제3조(사무소의 소재지) 이 법인의 사무소는 경상북도 포항시 남구 지곡로 80, 601호에 둔다.<br>
제4조(사업) ① 이 법인은 제1조의 목적을 달성하기 위하여 다음의 목적사업을 행한다.<br>
1. 장학금 지급<br>
2. 학술연구비 및 동 연구조성비의 지원<br>
② 제1항의 목적사업 경비에 충당하기 위하여 수익사업을 행할 수 있다.<br>
③ 제2항의 수익사업을 경영하고자 하는 경우에는 미리 주무관청의 승인을 받아야 한다.<br>
제5조(법인 공여이익의 수혜자) ① 이 법인이 제4조제1항에 규정한 목적사업을 수행함에 있어서 그 수혜자에게 제공하는 이익은 이를 무상으로 한다.<br>
다만, 수혜자에게 그 대가의 일부를 부담시킬 때에는 미리 주무관청의 승인을 받아야 한다.<br>
② 이 법인의 목적사업의 수행으로 인하여 제공되는 이익의 수혜자는 포항공과대학교 재학생(대학원생 포함) 및 교원으로 한정한다.<br>
<br><br>
<p class="text-xl">제2장  재산 및 회계</p>
<br>
제6조(재산의 구분) <br>
① 이 법인의 재산은 이를 기본재산과 보통재산으로 구분한다.<br>
② 다음 각 호의 어느 하나에 해당하는 재산은 이를 기본재산으로 하고, 기본재산 이외의 일체의 재산은 보통재산으로 한다.<br>
1. 설립 시 기본재산으로 출연한 재산<br>
2. 기부에 의하거나 기타 무상으로 취득한 재산. 다만, 기부목적에 비추어 기본재산으로 하기 곤란하여 주무관청의 승인을 얻은 것은 예외로 한다.<br>
3. 보통재산 중 이사회에서 기본재산으로 편입할 것을 의결한 재산<br>
4. 세계(歲計)잉여금 중 적립금<br>
③ 이 법인의 기본재산은 다음과 같다.<br>
1. 설립당시의 기본재산은“별지목록 1”과 같다.<br>
2. 현재의 기본재산은“별지목록 2”와 같다.<br>
<br>
제7조(재산의 관리) <br>
① 제6조제3항의 기본재산을 매도․증여․임대․교환하거나 담보에 제공하거나 의무부담 또는 권리의 포기를 하고자 할 때에는 이사회의 의결을 거쳐 주무관청의 허가를 받아야 한다.<br>
② 법인이 매수․기부채납 기타 방법으로 재산을 취득할 때에는 지체 없이 이를 법인의 재산으로 편입 조치하여야 한다.<br>
③기본재산 및 보통재산의 유지․보존 및 기타관리(제1항 및 제2항의 경우를 제외한다)에 관하여는 이사장이 정하는 바에 의한다.<br>
④ 기본재산의 목록이나 평가액에 변동이 있을 때에는 지체 없이 “별지목록 2”를 변경하여 정관변경 절차를 밟아야 한다.<br>
제8조(재산의 평가) 이 법인의 모든 재산의 평가는 취득당시의 시가에 의한다. 다만, 재평가를 실시한 재산은 재평가액으로 한다.<br>
제9조(경비의 조달방법 등) 이 법인의 유지 및 운영에 필요한 경비는 기본재산의 과실, 사업수익 및 기타의 수입으로 조달한다.<br>
제10조(회계의 구분) ① 이 법인의 회계는 목적사업회계와 수익사업회계로 구분한다.<br>
② 제1항의 경우에 법인세법의 규정에 의한 법인세 과세대상이 되는 수익과 이에 대응하는 비용은 수익사업회계로 계리하고, 기타의 수익과 비용은 목적사업회계로 계리한다.<br>
③ 제2항의 경우에 목적사업회계와 수익사업회계로 구분하기 곤란한 비용은 공통비용 배분에 관한 법인세에 관한 법령의 규정을 준용하여 배분한다.<br>
제11조(회계원칙) 이 법인의 회계는 사업의 경영성과와 수지상태를 정확하게 파악하기 위하여 모든 회계거래를 발생의 사실에 의하여 기업회계의 원칙에 따라 처리한다.<br>
제12조(회계연도) 이 법인의 회계연도는 정부의 회계연도에 따른다.<br>
제13조(예산 외의 채무부담 등) 예산 외의 채무의 부담 또는 채권의 포기는 이사회의 의결을 거쳐 주무관청의 허가를 받아야 한다.<br>
다만, 당해 회계연도의 수입금으로 상환할 수 없는 자금을 차입(이하 “장기차입금”이라 한다) 하는 경우 차입하고자 하는 금액을 포함한 장기차입금의 총액이 기본재산 총액에서 차입당시의 부채 총액을 공제한 금액의 100분의 5에 상당하는 금액이상인 경우로 한다.<br>
제14조(임원의 보수 제한 등) 제17조의 규정에 의한 상임이사를 제외한 임원에 대하여는 보수를 지급하지 아니한다. 다만, 실비의 보상은 예외로 한다.<br>
제15조(임원 등에 대한 재산대여 금지) ① 이 법인의 재산은 이 법인과 다음 각 호의 어느 하나에 해당하는 관계가 있는 자에 대하여는 정당한 대가 없이 이를 대여하거나 사용하게 할 수 없다.<br>
1. 이 법인의 설립자<br>
2. 이 법인의 임원<br>
3. 제1호 및 제2호에 해당하는 자와 민법 제777조의 규정에 의한 친족 관계에 있는 자 또는 이에 해당하는 자가 임원으로 있는 다른 법인<br>
4. 이 법인과 재산상 긴밀한 관계가 있는 자<br>
② 제1항 각 호의 규정에 해당되지 아니하는 자의 경우에도 법인의 목적에 비추어 정당한 사유가 없는 한 정당한 대가 없이 대여하거나 사용하게 할 수 없다.<br>
<br><br>
<p class="text-xl">제3장  임    원</p>
<br> 
제16조(임원의 종류와 정수) ① 이 법인에 두는 임원의 종류와 정수는 다음과 같다.<br>
1. 이사 5명<br>
2. 감사 2명<br>
② 제1항 제1호의 이사에는 이사장을 포함한다.<br>
제17조(상임이사) ① 제4조에 규정한 사업을 전담하게 하기 위하여 이사장은 이사회의 의결을 거쳐 이사 중 1명을 상임이사로 임명할 수 있다.<br>
② 상임이사의 업무분장에 관하여는 이사장이 정한다.<br>
제18조(임원의 임기) ① 이사의 임기는 4년, 감사의 임기는 2년으로 한다. 다만, 최초의 임원 반수의 임기는 그 반에 해당하는 기간으로 한다.<br>
② 보선에 의하여 취임하는 임원의 임기는 전임자의 남은 기간으로 한다.<br>
제19조(임원의 선임방법) ① 이사와 감사는 이사회에서 선임하여 주무관청의 승인을 받아 취임한다.<br>
② 임기전 임원의 해임은 이사회의 의결을 거쳐 주무관청의 승인을 받아야 한다.<br>
③ 이사 또는 감사 중에 결원이 생긴 때에는 2월 이내에 이를 보충하여야 한다.<br>
제20조(임원 선임의 제한) ① 이사회의 구성에 있어서 이사 상호간에 공익법인의 설립․운영에 관한 법률 시행령 제12조의 규정에 의한 특수관계에 해당하는 이사의 수는 이사 현원의 5분의 1을 초과하지 못한다.<br>
② 감사는 감사 상호간 또는 이사와 제1항에 규정한 특수관계에 해당하는 자가 아니어야 한다.<br>
제21조(이사장의 선출방법과 그 임기) ① 이사장은 이사의 호선으로 주무관청의 승인을 받아 취임한다.<br>
② 이사장의 임기는 이사로 재임하는 기간으로 한다.<br>
제22조(이사장 및 이사의 직무) ① 이사장은 이 법인을 대표하고 법인의 업무를 총괄한다.<br>
② 이사는 이사회에 출석하여 법인의 업무에 관한 사항을 심의 의결하며 이사회 또는 이사장으로부터 위임 받은 사항(상임이사에게 위임한 사항을 제외한다)을 처리한다.<br>
제23조(이사장 직무대행자) ① 이사장이 사고가 있을 때에는 이사장이 지명하는 이사가 이사장의 직무를 대행한다.<br>
② 이사장이 궐위되었을 때에는 이사회에서 선출된 이사가 이사장의 직무를 대행한다.<br>
③ 제2항의 규정에 의한 이사의 선출은 출석이사 중 연장자의 사회 아래 이사 정수의 과반수의 찬성을 얻어야 한다.<br>
④ 제2항의 규정에 의하여 이사장의 직무대행자로 선임된 이사는 지체 없이 이사장 선출의 절차를 밟아야 한다.<br>
제24조(감사의 직무) 감사는 다음의 직무를 행한다.<br>
1. 법인의 업무와 재산상황을 감사하는 일 및 이사에 대하여 감사에 필요한 자료의 제출 또는 의견을 요구하고 이사회에서 발언하는 일<br>
2. 법인의 업무와 재산상황에 대하여 이사에게 의견을 진술하는 일<br>
3. 법인의 업무와 재산상황을 감사한 결과 불법 또는 부당한 점이 있음을 발견한 때에 이를 이사회 및 주무관청에 보고하는 일<br>
4. 제3호의 보고를 하기 위하여 필요한 때에는 이사회의 소집을 요구하는 일<br>
5. 이사회의 회의록에 기명․날인하는 일<br>
<br><br>
<p class="text-xl">제4장  이  사  회</p>
<br>
제25조(이사회의 기능) 이사회는 다음 사항을 심의 결정한다.<br>
1. 이 법인의 예산․결산․차입금 및 재산의 취득․처분과 관리에 관한 사항<br>
2. 정관의 개정에 관한 사항<br>
3. 법인의 해산에 관한 사항<br>
4. 임원의 임면에 관한 사항<br>
5. 수익사업에 관한 사항<br>
6. 그 밖에 법령이나 정관에 따라 그 권한에 속하는 사항<br>
7. 기타 이 법인의 운영상 중요하다고 이사장이 부의하는 사항<br>
제26조(의결정족수) ① 이사회는 이사 정수의 과반수의 출석으로 개회한다.<br>
② 이사회의 의사는 출석이사의 과반수의 찬성으로 의결한다.<br>
③ 이사회의 의결은 대한민국 국민인 이사가 출석이사의 과반수가 되어야 한다.<br>
제27조(의결제척 사유) 이사장 또는 이사가 다음 각 호의 어느 하나에 해당하는 때에는 그 의결에 참여하지 못한다.<br>
1. 임원의 취임 및 해임에 있어 자신에 관한 사항을 의결할 때<br>
2. 금전 및 재산의 수수를 수반하는 사항으로서 자신과 법인의 이해가 상반될 때<br>
제28조(회기) 이사회는 매년 1회 이를 개최하고 필요가 있을 때에는 수시 이를 개최한다.<br>
제29조(이사회의 소집) ① 이사회는 이사장이 소집하고 그 의장이 된다.<br>
② 이사회를 소집하고자 할 때에는 적어도 회의 7일전에 회의 목적을 구체적으로 밝혀 각 이사에게 알려야 한다. 다만, 이사 전원이 집회하고 또 그 전원이 이사회의 소집을 요구할 때에는 그러하지 아니하다.<br>
제30조(이사회 소집의 특례) ① 이사장은 다음 각 호의 어느 하나에 해당하는 때에는 그 소집요구일로부터 20일 이내에 이사회를 소집하여야 한다.<br>
1. 재적이사 과반수로부터 회의의 목적을 제시하여 소집을 요구한 때<br>
2. 제24조제4호의 규정에 의하여 감사가 소집을 요구한 때<br>
② 이사회 소집권자가 궐위되거나 또는 이를 기피함으로서 7일 이상 이사회 소집이 불가능할 때에는 재적이사 과반수의 찬성으로 주무관청의 승인을 받아 이사회를 소집할 수 있다.<br>
③ 제2항에 의한 이사회의 운영은 출석이사 중 연장자의 사회아래 그 회의의 의장을 선출하여야 한다.<br>
제31조(서면결의 금지) 이사회의 이사는 서면결의에 의할 수 없다.<br>
<br><br> 
<p class="text-xl">제5장  보    칙</p>
<br> 
제32조(정관의 변경) 이 정관을 변경하고자 할 때에는 이사 정수의 3분의 2 이상의 찬성으로 의결하여 주무관청의 허가를 받아야 한다.<br>
제33조(해산) 이 법인을 해산하고자 할 때에는 이사 정수의 3분의 2 이상의 찬성으로 의결하여 주무관청의 허가를 받아야 한다.<br>
제34조(잔여재산의 귀속) 이 법인을 해산하였을 때의 잔여재산은 경상북도교육청에 귀속된다.<br>
제35조(예산서 및 결산서 제출) ① 이 법인의 사업계획과 세입세출예산은 당해 사업의 회계연도 개시 1월전까지 다음 각호의 서류를 이사회의 의결을 거쳐 주무관청에 제출한다.<br>
1. 추정대차대조표 및 그 부속명세서<br>
2. 추정손익계산서 및 그 부속명세서<br>
② 이 법인의 사업실적과 세입세출결산은 당해 사업의 회계연도 종료후 3월이내에 다음 각호의 서류를 이사회의 의결을 거쳐 주무관청에 제출한다.<br>
1. 대차대조표 및 그 부속명세서<br>
2. 손익계산서 및 그 부속명세서<br>
3. 공인회계사의 감사증명서. 다만, 주무관청이 필요하다고 인정하여 첨부하게 한 경우에 한한다.<br>
제36조(시행세칙) 이 정관의 시행에 필요한 사항은 이사회의 의결을 거쳐 세칙으로 정한다.<br>
제37조(공고사항 및 방법) 법령의 규정에 의한 사항과 다음 각호의 사항은 이를 매일경제신문에 공고하여 행한다.<br>
1. 법인의 명칭 및 사무소의 소재지 변경<br>
2. 이사회에서 공고하기로 의결한 사항<br>
제38조(상근 직원) 이 법인의 업무 처리를 위하여 필요한 때에는 상근 직원을 2명 두며 이는 이사장이 임명한다. 단, 상근 직원의 인건비는 목적예산의 10%를 넘을 수 없다.<br>
제39조(기부금 공개) 이 법인은 홈페이지를 통해 연간 기부금 모금액 및 활용실적을 공개한다.<br>
<br><br>
<p class="text-xl">부    칙</p>
<br> 
제1조(시행일) 이 정관은 주무관청의 허가를 받은 날로부터 시행한다.<br>
제2조(경과조치) 이 정관 시행당시 법인설립을 위하여 발기인 등이 행한 행위는 이 정관에 의하여 행한 것으로 본다.<br>
제3조(설립당초의 임원 및 임기) 본 법인 설립 당초의 임원 및 임기는 다음과 같다.<br>
제4조(설립자의 기명날인) 법인을 설립하기 위하여 이 정관을 작성하고 다음과 같이 설립자 전원이 기명날인 한다.<br>
<br>
<br> 
(별지목록 1)<br>
설립당시의 기본재산 목록<br>
(2020년 12월 08일 설립)<br>
1. 기본재산 총괄표(금액단위: 원)<br>
2. 기본재산 세부목록표(금액단위: 원)<br>
<br> 
(별지목록 2)<br>
현재의 기본재산 목록<br>
(2020년 12월 08일 현재)<br>
1. 기본재산 총괄표(금액단위: 원)<br>
2. 기본재산 세부목록표(금액단위: 원)<br>
</p> 


{% endblock content %}